.App {
  scroll-behavior: smooth;
  overflow: scroll;
  margin-bottom: 100px;
  width: 400px;
  margin: 0 auto 90px auto;
  display: flex;
  flex-direction: column;
  background: rgba(219, 219, 219, 0.24);
}

.scanner {
  text-align: center;
  height: 90vh;
}

* {
  box-sizing: border-box;
}
