.App {
  scroll-behavior: smooth;
  overflow: scroll;
  width: 100%;
  overflow-x: hidden;
  max-width: 1200px;
  margin: 0 auto 75px auto;
  display: flex;
  flex-direction: column;
  background: #faf9f4;
}

.scanner {
  text-align: center;
  height: 90vh;
}

* {
  box-sizing: border-box;
}

.profile-pic {
  border: solid red;
}
