.book-details {
  margin: 4%;
  display: flex;
  flex-direction: column;
}

.single-book-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-bottom: dotted rgba(128, 128, 128, 0.486) 0.25px;
}

.single-book-header img {
  width: 40%;
}

.single-book-info {
  background: rgba(128, 128, 128, 0.301);
  width: 40%;
  height: fit-content;
  text-align: center;
  border-radius: 4px;
}

.single-book-description {
  background: rgba(128, 128, 128, 0.301);
  margin-top: 6%;
  padding: 2%;
  border-radius: 4px;
  max-height: 300px;
  overflow: scroll;
}

.owner-card {
  padding: 2%;
  background: rgba(128, 128, 128, 0.301);
  border: solid rgb(179, 179, 179) 0.5px;
  margin: 10%;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
}

.owner-card img {
  border: dotted rgba(128, 128, 128, 0.486) 0.25px;
  border-radius: 4px;
  width: 30%;
  padding: 3%;
}

.owner-info {
  text-align: center;
}

.request-button {
  text-align: center;
}
