.bookshelf-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

img {
  height: 200px;
  align-self: center;
}

.book-list-card:hover {
  background: rgb(206, 205, 205);
}

.book-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2%;
}

.bookshelf-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 4%;
  margin-right: 4%;
}

.my-book-info {
  display: flex;
  flex-direction: column;
  min-height: 35%;
  justify-content: flex-end;
  font-size: 0.8em;
}

.add-button {
  position: fixed;
  z-index: 1;
  right: 20px;
  bottom: 70px;
}
