.book-details {
  margin: 4%;
  display: flex;
  flex-direction: column;
}

.single-book-header {
  display: flex;
  justify-content: space-around;
  align-content: center;
  border-bottom: dotted rgba(128, 128, 128, 0.486) 0.25px;
}

.single-book-header img {
  width: 40%;
}

.single-book-info {
  background: rgb(233, 233, 233);
  color: #18331d;
  width: 40%;
  margin-top: 10%;
  height: fit-content;
  text-align: center;
  border-radius: 4px;
}

.single-book-description {
  background: rgb(233, 233, 233);
  color: #18331d;
  margin-top: 6%;
  padding: 2%;
  border-radius: 4px;
  max-height: 300px;
  overflow: scroll;
}

.owner-card {
  padding: 2%;
  background: #6a8680;
  color: #faf9f4;
  border: solid rgb(179, 179, 179) 0.5px;
  margin: 10% auto;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 4px;
}

.owner-card img {
  border: dotted rgba(128, 128, 128, 0.486) 0.25px;
  border-radius: 4px;
  width: 30%;
  padding: 3%;
  min-width: 120px;
}

.owner-info {
  text-align: center;
}

.request-button {
  text-align: center;
}

img {
  max-width: 150px;
  width: 100%;
  height: auto;
}
